dataset/gtsrb/GTSRB/
dataset/gtsrb/models
dataset/cifar10/models
dataset/imagenet/models
dataset/imagenet/train
dataset/imagenet/val
dataset/imagenet/tensorpack
dataset/imagenet/backup
dataset/imagenet/devkit
dataset/imagenet/extract*
deepaugment/execution*
experiment_data*
*.pyc
temp
